
@import '../../variables.scss';

.portfolio-container{
    h2{
        font-size: 4rem;
        color: $dark-pink;
        font-family: $primary-font;
        text-align: center;
        margin:60px auto 24px;
    }
    .item{
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin: 2rem;
        margin-bottom: 5rem;
        justify-content:space-around ;
        align-items: center;
        overflow: visible;
    }

    .image-background{
        margin:0;
        position: relative;

        &:before{
            content:'';
            position: absolute;
            background-color: $dark-pink;
            height:100%;
            width:100%;
            left:-40px;
            top:-40px;

            @media only screen and (max-width: 768px) {
                height:calc(100% + 20px);
                width:calc(100% + 20px);
                left:-10px;
                top:-10px;
            }
        }
    }

    .item:nth-child(odd){
        .image-background{
            &:before{
                content:'';
                background-color: $gold;
            }
        }
    }
    img{
        height: 30rem;
        width: 40rem;
        display: block;
        box-shadow: 5px 3px 10px gray;
        position: relative;

        &:before{
            content:'';
            position: absolute;
            background: #56282D;
            padding: 4rem;
            height: 30rem;
            width: 40rem;
            box-shadow: 5px 3px 10px grey;
        }
    }

    .aside{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 2rem;

        @media only screen and (max-width: 768px) {
            margin: 1rem;
        }
    }
    .app-name{
        font-size: 3rem;
        color: $dark-pink;
        font-family: $secondary-font;
        margin-bottom: 1rem;
        border: 3px solid $dark-pink;
        padding: 1rem;
    }
    .description{
        text-align: center;
        color: $dark-pink;
        font-size: 1rem;
        width: 15rem;
        font-family: $primary-font;
        margin:1rem auto;

        @media only screen and (max-width: 768px) {
            width:95vw;
        }
    }
   
    .button{
        margin: 1rem;
        color: $dark-green;
        font-size: 1.5rem;
        position: relative;

        &:hover{
            cursor: pointer;

            &:before{
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left:0;
           background-color: $dark-green;
            visibility: hidden;
            transform: scaleX(0);
            transition: all .3s ease-in-out 0s;
        }
    }
}
@media only screen and (max-width: 1000px) {
 
}

@media only screen and (max-width: 768px) {
   .portfolio-container{
       .description{
        font-size: 1.2rem;
    }
       .item{
       .image-background{

         img{
             display: block;
             height: 15rem;
             width: 20rem;
             margin: 0 auto;
             background: none;
    
         }
         item:nth-child(odd){
            .image-background{
                background: $dark-pink;
                margin-bottom: 0px;
            }
       }
    }
    }}

}   
  