@import '../../variables.scss';

.modal-container{
    position: absolute;
    z-index: 1;
    background-color: $maroon;
    color: $pink;
    width: 40rem;
    height: 20rem;
    margin: auto 10;
    text-align: center;
    font-size: 2em;
    padding: 4rem;
    button{
        display: inline-block;
        background: $maroon;
        padding: 1rem;
        border: 3px solid $pink;
        color: $pink;
        font-size: 1rem;
        margin: 1rem;
        font-family: $primary-font;
    }
}