@import '../../variables.scss';



form{
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 0 auto;
}
label{
    font-size: 1.25rem;
}
input, textarea{
    margin: 1rem;
    vertical-align: middle;
    width: 15rem;
    padding: 10px;
    font-family: $primary-font;
    @media only screen and (min-width: 1280px) {
            width: 20rem; 
    }
}
input[type = submit]{
    background: $pink;
    padding: .5rem;
    color: $dark-green;
    width: 6rem;
    font-size: 1.1rem;
    border:none;
    align-self:center;
    @media only screen and (min-width: 1280px) {
            align-self:flex-end;
    }
  }
  input[type = submit]:hover{
    transform: scale(1.1);
    transition:.15s;
    cursor: pointer;
  }


