@import '../../variables.scss';

form{
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 0 auto;
}
label{
    font-size: 1.25rem;
}
input, textarea{
    margin: 1rem;
    vertical-align: middle;
    width: 20rem;
    padding:10px;
    font-family: 'Poppins';
}
input[type = submit]{
    background: $pink;
    padding: .5rem;
    // border: 4px solid $pink;
    color: $dark-green;
    width: 6rem;
    font-size: 1.1rem;
    border:none;
  }
  input[type = submit]:hover{
    transform: scale(1.1);
    transition:.15s;
    cursor: pointer;
  }

 @media only screen and (max-width: 320px) {
     input, textarea{
        margin: 0 auto;
         width: 10rem;
}
input[type = submit]{
    align-self:center;
}

 }
    @media only screen and (max-width: 1280px) {
        input, textarea{
            margin: 1rem;
            vertical-align: middle;
            width: 15rem;
        }
        input[type = submit]{
            align-self:center;
    } 

    }
