@import '../../variables.scss';



form{
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 0 auto;
}
label{
    font-size: 1.25rem;
}
input, textarea{
    margin: 1rem;
    vertical-align: middle;
    width: 15rem;
    padding: 10px;
    font-family: $primary-font;
    @media only screen and (min-width: 1280px) {
            width: 20rem; 
    }
}
input[type = submit]{
    background: $pink;
    padding: .5rem;
    color: $dark-green;
    width: 6rem;
    font-size: 1.1rem;
    border:none;
    align-self:center;
    @media only screen and (min-width: 1280px) {
            align-self:flex-end;
    }
  }
  input[type = submit]:hover{
    transform: scale(1.1);
    transition:.15s;
    cursor: pointer;
  }
  #modal{
    margin : 0 auto;
  }
.modal{
    z-index: 10;
    background-color: $maroon;
    color: $pink;
    width: 40rem;
    height: 20rem;
    text-align: center;
    font-size: 2em;
    padding: 4rem;
text-align: center;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
    button{
        display: inline-block;
        background: $maroon;
        padding: 1rem;
        border: 3px solid $pink;
        color: $pink;
        font-size: 1rem;
        margin: 1rem;
        font-family: $primary-font;
    }
}