
@import '../../variables.scss';

.footer{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: $color-blue-light;
    height: auto;
    color: $color-charcoal;
    padding: 1rem;
    font-size:1.5rem;
    a{
        color: $color-charcoal;
    }
    h2{
        flex-basis: 100%;
        font-size: 2rem;
        @media only screen and (min-width: 1280px) {
            font-size: 2.5rem;
                margin: 1rem;
        }
      
    }

}
footer{
    img{
        width: 100%;
        margin:0;
        margin-bottom: -1rem;
    }
    @media only screen and (min-width: 1280px) {
            padding: 0;
    }
}



.social-media{
    display: flex;
    font-size: 1rem;
    flex-flow: row wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    color: $color-charcoal;
    @media only screen and (min-width: 1000px) {
            justify-content: flex-end;
    } 
   .social-media-link{
       img{
        display: inline-block;
        vertical-align: middle;
        height: 1rem;
        width: auto;
        padding-right: .25rem;
        margin: 0 auto;
       }
       &:hover {
         color: $color-charcoal;
         img{
           transform: scale(1.1);
           transition:.15s;
         }
       }
   }
}

     

