
@import '../../App.scss';

.footer{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    background-color: $dark-green;
    height: auto;
    color: $pink;
    padding: 3rem;
    font-size:1.5rem;
    a{
        color: $pink;
    }
    h2{
        flex-basis: 100%;
    }
}
footer{
    img{
        width: 100%;
        margin:0;
        margin-bottom: -1rem;
       
    }
}



.social-media{
    display: flex;
    font-size: 1rem;
    flex-flow: row wrap;
    justify-content: flex-end;;
    align-items: center;
    vertical-align: baseline;
    color: $pink;
   .social-media-link{
       img{
        display: inline-block;
        vertical-align: middle;
        height: 35px;
        width: 35px;
        padding:.5rem;
        margin:0 auto;
       }
       img:hover{
           transform: scale(1.1);
           transition:.15s;
       }
   }
}
@media only screen and (max-width: 568px) {
  
}
    @media only screen and (max-width: 1280px) {
        h2{
            font-size: 2rem;
        }
        footer{
            padding: 0;
        }
        
        .social-media{
            margin: 0 auto;
            justify-content: center;
        }
    } 
     

