@import './variables.scss';

* { 
    padding: 0; 
    box-sizing: border-box; 
    margin:0;
}

.stats{
display: flex;
flex-flow: row;
height: 100vh;
width: 100vw;
padding:0;
justify-content: center;
align-items: center;
font-size: 1.5rem;
color:$dark-pink;
margin: 0;
border-top:40px solid #16302B;
border-bottom: 40px solid #16302B;
.left{
    width: 50vw;
    margin: 0 auto;
    padding: 0 6rem;
    // border: 40px solid #16302B;
    ul{
        color: $dark-green;
    }
    h2{
        text-align: center;
    }
}

.right{
    font-family: $secondary-font;
    text-align: center;
    width: 50vw;
    margin: 0;
    // border: 40px solid #16302B;
    padding:0 6rem;
    p{
        color: $dark-green;
    }
    h2{
        font-family: $primary-font;
    }
}
}

.welcome-pg{
    height: 100vh;
    width: 100vw;
    color:$pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   text-align: center;

   @media only screen and (max-width: 768px) {
    flex-direction: column;
   }

    .headline{
        font-size: 80px;
        padding: 20px;
        font-family: $primary-font;
        background-color: $dark-green;
        height: 100%;
        flex-basis: 50%;
        display: flex;
        align-items:center;
        line-height: 1.2;

        @media only screen and (max-width: 768px) {
            font-size: 4rem;
            width: 100vw;
            justify-content: center;

            // ------- Don't need these since you already have them -------
            // background-color: $dark-green;
            // display: flex;
            // align-items:center;
        }
    }
    .title{
        font-size: 40px;
        font-family: $secondary-font;
        color: $dark-pink;
        height: 100%;
        width: 50%;
        background-color: $pink;
        display: flex;
        justify-content: center;
        align-items:center;
         
        @media only screen and (max-width: 768px) {
            flex-basis: 50%;
        }
    }
}

#about-me{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   
    h2{
        font-size: 4em;
        flex-basis: 100%;
        color: $dark-green;
        margin:60px auto 0 5rem;

    }
    img{
        height: 30rem;
        z-index: 2;
        box-shadow: 3px 3px 10px gray;
    }
    .box{
        background-color: $gold;
        height: 50%;
        width: 90%;
        z-index: 1;
        position: absolute;
    }
    .description{
        width: 30rem;
        height: auto;
        margin: 1rem;
        z-index: 2;
        font-family: $secondary-font;
        background-color: $pink;
        color: $dark-green;
        border: solid 1rem $pink;
        padding: 1rem;
        text-align: center;
    }
}
.resume{
    background: $pink;
    padding: 1rem;
    border: 3px solid $dark-pink;
    font-size: 1rem;
    margin-top: 1rem;
    color: $dark-pink;
    font-family: $primary-font;
 }
 .resume:hover{
    transform: scale(1.1);
    transition:.15s;
    cursor: pointer;
 }

// =========== Responsive

@media only screen and (max-width: 768px) {
    .stats{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        font-size: 1.5rem;
        color:$dark-pink;
        margin: 0 auto;
        padding: 1rem;
        height: auto;
        border-top: 15px solid $dark-green;

        .left{
            padding: 0;
            border: none;
            width: 100vw;
            height: auto;
        }
        .right{
            padding: 0;
            border: none;
            width: 100vw;
            height: auto;
        }
        h4{
            font-size: 2.5rem;
            margin: 2rem;
            text-align: center;
        }
        p{
            margin: 0 auto;
        }

        }
    #about-me{
    margin-top: 2rem;
         h2{
             font-size: 50px;
             flex-basis: 100%;
             margin: 0 auto;
             text-align: center;
             color: $dark-green;
         }
         img{
             height: 30rem;
             z-index: 1;
             border: solid 20px $dark-pink;
            
         }
         .box{
            display: none;
         }
         .description{
             width: 90%;
             font-size: 1.2em;
             height: auto;
             margin: 0 auto;
         }
     }
     
  }