
@import './variables.scss';

* { 
    padding: 0; 
    box-sizing: border-box; 
    margin:0;
  }
  
.welcome-pg{
    height: 100vh;
    width: 100vw;
    color:$pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
   @media only screen and (min-width: 768px) {
    flex-direction: row;
   }
    h1{
        font-size: 4em;
        padding: 10px;
        font-family: $primary-font;
        background-color: $dark-green;
        width: 100vw;
        flex-basis: 50%;
        display: flex;
        margin: 0 auto;
        align-items:center;
        line-height: 1.2;
        @media only screen and (min-width: 768px) {
            font-size: 5rem;
            height: 100%;
            
        }
    
    }
    p{
        font-size: 40px;
        font-family: $secondary-font;
        color: $maroon;
        height: 100%;
        flex-basis: 50%;
        background-color: $pink;
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 0 auto;
    }
}
.stats{
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:$maroon;
    padding: 1rem;
    border-top: 9px solid #16302B;
    border-bottom: 9px solid #16302B;
    .left{
        flex-basis: 50%;
        margin: 0 auto;
        padding:3rem 1rem;
        ul{
            color: $dark-green;
        }
        h2{
            text-align: center;
        }
    }
    .right{
        font-family: $secondary-font;
        text-align: center;
        flex-basis: 50%;
        margin: 0;
        padding:3rem 1rem;
        p{
            color: $dark-green;
        }
        h2{
            font-family: $primary-font;
        }
    }
    @media only screen and (min-width: 768px) {
        flex-flow: row;
        width: 100vw;
        font-size: 1.5rem;
        height: 100vh;
        margin: 0;
        .left{
            padding: 0 6rem;
            height: auto;
        }
        .right{
            padding: 0 6rem;
            height: auto;
        }
        h2{
            font-size: 2.5rem;
            margin: 2rem;
            text-align: center;
        }
        p{
            margin: 0 auto;
        
     }
    }
}
#about-me{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   margin-top: 2rem;
    h2{
        font-size: 4rem;
        flex-basis: 100%;
        color: $dark-green;
        margin: 0 auto;
        line-height: 1.2;
        margin:60px auto;
        text-align: center;
        @media only screen and (min-width: 768px) {
            margin: 2rem;
        }
    }

    img{
        height: 30rem;
        z-index: 1;
        box-shadow: 3px 3px 10px gray;
        border: solid 20px $maroon;
        @media only screen and (min-width: 768px){
            z-index: 2;
            border: none;
        }
    }
    .box{
        display: none;
        @media only screen and (min-width: 768px){
            display: block;
            background-color: $gold;
            height: 60%;
            width: 90%;
            z-index: 1;
            position: absolute;
            margin-top: 5rem;
        }
    }
    .description{
        width: 95vw;
        height: auto;
        margin: 0;
        z-index: 2;
        font-family: $secondary-font;
        background-color: $pink;
        color: $dark-green;
        border: solid 1rem $pink;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        @media only screen and (min-width: 768px) {
            width: 30rem;
            font-size: 1rem;
            margin-top: 5rem;
        }
    }
}
.resume{
    display: inline-block;
    background: $pink;
    padding: 1rem;
    border: 3px solid $maroon;
    font-size: 1rem;
    margin-top: 3rem;
    color: $maroon;
    font-family: $primary-font;
 }
 .resume:hover{
    transform: scale(1.1);
    transition:.15s;
    cursor: pointer;
 }
