@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Poppins:wght@300&display=swap');

$dark-green: #16302B;
$pink: #F8DFDB;
$maroon:#56282D;
$gold: #BC6C25;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'IBM Plex Serif', serif;
